@import "tailwindcss";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));


/* Animasi mengetik */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animasi kursor berkedip */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Utility untuk efek mengetik */
.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid currentColor;
  display: inline-block;
  width: 0;
  animation: typing 5s steps(20, end) forwards;
}

/* Utility untuk efek kursor */
.animate-blink {
  display: inline-block;
  width: 4px;
  height: 32px;
  background-color: currentColor;
  animation: blink 0.7s infinite;
}

.animate-typing.finished {
  border-right: none;
}
